* {
  padding: 0;
  margin: 0;
}

header {
  background-color: black;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-branding {
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-link {
  transition: 0.3s ease-out;
}
.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-right: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  transition: all 0.3s ease;
  background-color: white;
}
.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  /* flex-direction: column; */
  background-color: #262626;
  width: 100%;
  /* text-align: center; */
  transition: 1s;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-item {
  margin: 16px 0;
}
.show-menu {
  left: 0;
}
